<%- include("../components/head.ejs") %> <%-
include("../components/navbar.ejs")%>
<main class="main flex justify-center">
  <form
    class="flex items-center gap-[2rem] flex-col"
    action="/login"
    method="POST"
  >
    <h1 class="text-[3rem] text-center pb-[3rem] tracking-wide">
      Wellcom to express shop
    </h1>
    <% if(errorMessage){ %>
    <p class="error_message"><%= errorMessage %></p>
    <%}%>
    <div class="w-full flex gap-2 flex-col">
      <label class="text-[1.2rem] tracking-widest" for="email">Email</label>
      <input class="text_input_base" type="text" name="email" id="email" />
    </div>
    <div class="w-full flex gap-2 flex-col">
      <label class="text-[1.2rem] tracking-widest" for="password"
        >Password</label
      >
      <input
        class="text_input_base"
        type="text"
        name="password"
        id="password"
      />
    </div>

    <button class="btn" type="submit">Login</button>
    <div>
      <p class="mb-[2rem]">
        Does not have a account?
        <a class="text-blue-500" href="/signup">Signup</a>
      </p>
      <p>
        Forget the password?
        <a class="text-blue-500" href="/reset-password">Reset password</a>
      </p>
    </div>
    <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
  </form>
</main>
<%- include("../components/footer.ejs")%>
