<%- include("../components/head.ejs") %> <%-
include("../components/navbar.ejs")%>
<main class="main flex justify-center">
  <form
    class="flex items-center gap-[2rem] flex-col"
    action="/reset-password"
    method="POST"
  >
    <h1 class="page_heading">
      Reset you password
    </h1>
    <% if(errorMessage){ %>
    <p class="error_message"><%= errorMessage %></p>
    <%}%> <% if(successMessage){ %>
    <p class="success_message"><%= successMessage %></p>
    <%}%>
    <div class="w-full flex gap-2 flex-col">
      <label class="text-[1.2rem] tracking-widest" for="email">Email</label>
      <input
        class="text_input_base"
        type="text"
        name="email"
        id="email"
        value="<%=oldValues?.email%>"
      />
      <% if(errors?.email){ %>
      <p class="error_message text-left"><%= errors?.email %></p>
      <%}%>
    </div>
    <button class="btn" type="submit">Reset</button>
    <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
  </form>
</main>
<%- include("../components/footer.ejs")%>
