<%- include("../components/head.ejs")%> <%-
include("../components/navbar.ejs")%>
<main class="main">
  <h1 class="text-[3rem] text-center pb-[3rem] tracking-wide">
    <%= editing ? "Edit product":"Add new product"; %>
  </h1>
  <form class="w-[65%] md:w-[50%] mx-auto grid gap-4" action=<%= editing ? "/admin/edit-product":"/admin/add-product"; %> method="POST">
    <div class="grid gap-2">
      <label class="text-[1.2rem]  tracking-widest" for="title">Title</label>
      <input class="text_input_base" type="text" name="title" id="title" <% if(editing){ %>
        value="<%= product.title %>"
      <%}else{''}%>/>
    </div>
    <div class="grid gap-2">
      <label class="text-[1.2rem]  tracking-widest" for="price">Price (€)</label>
      <input class=" text_input_base" type="number" name="price" id="price" <% if(editing){ %>
        value="<%= product.price %>"
      <%}else{''}%> />
    </div>
    <div class="grid gap-2">
      <label class="text-[1.2rem]  tracking-widest" for="description">Description</label>
      <textarea class="text_input_base" name="description" id="description" rows="10"><%if(editing){%><%=product.description%><%}else{''}%></textarea>
    </div>
    <div class="grid gap-2">
      <label class="text-[1.2rem]  tracking-widest" for="imgUrl">Image URL</label>
      <input class="text_input_base" type="imgUrl" name="imgUrl" id="imgUrl" <% if(editing){ %>
        value="<%= product.imgUrl %>"
      <%}else{''}%> />
    </div>
    <% if(editing){ %> 
      <input  type="hidden" name="id" value="<%=product._id%>">
      <%} %>
    <button class="btn" type="submit"><%= editing ? "Update Product": "Add Product"; %></button>
    <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
  </form>
</main>
<%- include("../components/footer.ejs")%>
