<%- include("../components/head.ejs")%> <%-
include("../components/navbar.ejs")%>
<main class="bg-gray-900 text-slate-400 px-[5rem] py-[3rem]">
  <h1 class="text-[3rem] text-center pb-[3rem] tracking-wide">
    <%= editing ? "Edit product":"Add new product"; %>
  </h1>
  <form class="w-[65%] md:w-[50%] mx-auto grid gap-4" action=<%= editing ? "/admin/edit-product":"/admin/add-product"; %> method="POST">
    <div class="grid gap-2">
      <label class="text-[1.2rem]  tracking-widest" for="title">Title</label>
      <input class=" rounded bg-slate-300 px-[1rem] py-[0.5rem] text-gray-950" type="text" name="title" id="title" <% if(editing){ %>
        value="<%= product.title %>"
      <%}else{''}%>/>
    </div>
    <div class="grid gap-2">
      <label class="text-[1.2rem]  tracking-widest" for="price">Price (€)</label>
      <input class=" rounded bg-slate-300 px-[1rem] py-[0.5rem] text-gray-950" type="number" name="price" id="price" <% if(editing){ %>
        value="<%= product.price %>"
      <%}else{''}%> />
    </div>
    <div class="grid gap-2">
      <label class="text-[1.2rem]  tracking-widest" for="description">Description</label>
      <textarea class="rounded bg-slate-300 px-[1rem] py-[0.5rem] text-gray-950" name="description" id="description" rows="10"><%if(editing){%><%=product.description%><%}else{''}%></textarea>
    </div>
    <div class="grid gap-2">
      <label class="text-[1.2rem]  tracking-widest" for="imgUrl">Image URL</label>
      <input class=" rounded bg-slate-300 px-[1rem] py-[0.5rem] text-gray-950" type="imgUrl" name="imgUrl" id="imgUrl" <% if(editing){ %>
        value="<%= product.imgUrl %>"
      <%}else{''}%> />
    </div>
    <% if(editing){ %> 
      <input class=" rounded bg-slate-300 px-[1rem] py-[0.5rem] text-gray-950" type="hidden" name="id" value="<%=product._id%>">
      <%} %>
    <button class="bg-slate-700 px-[1rem] py-[0.5rem] rounded shadow-sm text-slate-200 hover:bg-gradient-to-br from-yellow-300 to-red-400 hover:text-gray-900 " type="submit"><%= editing ? "Update Product": "Add Product"; %></button>
  </form>
</main>
<%- include("../components/footer.ejs")%>
