<%- include("../components/head.ejs")%> <%-
include("../components/navbar.ejs")%>
<main class="main">
  <h1 class="page_heading">My Products</h1>
  <%-include("../components/status-message.ejs", {errorMessage,
  successMessage})%> <% if (products && products.length > 0) { %>
  <div class="grid md:grid-cols-3 gap-8">
    <% for (let product of products){ %>
    <article class="product_cart_parent">
      <div class="product_cart">
        <h1 class="product_cart_heading"><%= product.title%></h1>
        <img
          class="product_cart_img"
          src="/<%= product.imgUrl%>"
          alt="<%= product.title%>"
        />
        <h2 class="product_cart_subheading">€<%=product.price%></h2>
        <p class="product_cart_description"><%= product.description%></p>

        <div class="product_cart_btn_div">
          <button class="btn">
            <a href="/admin/edit-product/<%= product._id %>">Edit</a>
          </button>
          <form action="/admin/delete-product" method="POST">
            <input type="hidden" name="id" value="<%=product._id%>" />
            <button class="btn">Delete</button>
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
          </form>
        </div>
      </div>
    </article>
    <%} %>
  </div>
  <%- include("../components/pagination.ejs", {numberOfPages, page, route:
  "/admin/products/"})%> <% } else { %>
  <div class="h-full flex justify-center items-center">
    <h3 class="error_message">
      You do not have any listed product! Please create new product from Add
      product menu!
    </h3>
  </div>
  <% } %>
</main>
<%- include("../components/footer.ejs")%>
