<%- include("../components/head.ejs")%> <%-
include("../components/navbar.ejs")%>
<main class="main">
  <h1 class="text-[3rem] text-center pb-[3rem] tracking-wide">My Products</h1>
  <p class="text-[1.5rem] text-center pb-[3rem]">
    You can edit or delete your listings...
  </p>
  <% if (products.length > 0) { %>
  <div class="grid md:grid-cols-3 gap-8">
    <% for (let product of products){ %>
    <article class="product_cart_parent">
      <div class="product_cart">
        <h1 class="product_cart_heading"><%= product.title%></h1>
        <img
          class="product_cart_img"
          src="<%= product.imgUrl%>"
          alt="<%= product.title%>"
        />
        <h2 class="product_cart_subheading">€<%=product.price%></h2>
        <p class="product_cart_description"><%= product.description%></p>

        <div class="product_cart_btn_div">
          <button class="btn">
            <a href="/admin/edit-product/<%= product._id %>">Edit</a>
          </button>
          <form action="/admin/delete-product" method="POST">
            <input type="hidden" name="id" value="<%=product._id%>" />
            <button class="btn">Delete</button>
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
          </form>
        </div>
      </div>
    </article>
    <%} %>
  </div>
  <% } else { %>
  <div class="h-full flex justify-center items-center">
    <h3 class="text-[3rem] text-red-400">No product is available</h3>
  </div>
  <% } %>
</main>
<%- include("../components/footer.ejs")%>
