<header
  class="sticky top-0 bg-green-900 text-slate-300 text-[1rem] font-semibold tracking-widest shadow-sm shadow-green-300"
>
  <nav class="flex justify-between items-center flex-wrap px-[2rem] py-[1rem]">
    <p class="text-[2rem]">
      <a
        class="<%= path === '/'? 'drop-shadow-2xl drop-shadow-yellow-200': ''%> flex items-center"
        href="/"
      >
        <span class="text-red-600 text-[4rem]">E</span>
        <span class="text-green-400">xpress</span
        ><span class="text-yellow-300">Shop</span></a
      >
    </p>
    <ul class="flex flex-wrap gap-4">
      <li class="navbar_li">
        <a
          class="<%= path === '/products'? 'text-yellow-300': ''%>"
          href="/products"
          >Products</a
        >
      </li>

      <% if(isLoggedIn) { %>
      <li class="navbar_li">
        <a
          class="<%= path === '/admin/add-product'? 'text-yellow-300': ''%>"
          href="/admin/add-product"
          >Add Product</a
        >
      </li>
      <li class="navbar_li">
        <a
          class="<%= path === '/admin/products'? 'text-yellow-300': ''%>"
          href="/admin/products"
          >My Listing</a
        >
      </li>
      <li class="navbar_li">
        <form action="/logout" method="POST">
          <button class="uppercase" type="submit">Logout</button>
          <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
        </form>
      </li>
      <% } %> <% if(!isLoggedIn) { %>
      <li class="navbar_li">
        <a class="<%= path === '/login'? 'text-yellow-300': ''%>" href="/login"
          >Login</a
        >
      </li>

      <% } %>
      <li class="navbar_li">
        <a class="<%= path === '/cart'? 'text-yellow-300': ''%>" href="/cart"
          >🛒</a
        >
      </li>
      <li class="navbar_li">
        <a
          class="<%= path === '/orders'? 'text-yellow-300': ''%>"
          href="/orders"
          >📦</a
        >
      </li>
    </ul>
  </nav>
</header>
