<header
  class="sticky top-0 bg-green-900 text-slate-300 text-[1.2rem] font-bold tracking-widest shadow-md shadow-green-200"
>
  <nav class="flex justify-between items-center px-[2rem] py-[1rem]">
    <p class="text-[2rem]">
      <a
        class="<%= path === '/'? 'drop-shadow-2xl drop-shadow-yellow-200': ''%> flex items-center"
        href="/"
      >
        <span class="text-red-600 text-[4rem]">E</span>
        <span class="text-green-400">xpress</span
        ><span class="text-yellow-300">Shop</span></a
      >
    </p>
    <ul class="flex gap-4">
      <li
        class="border border-1 border-green-200 px-4 py-2 rounded shadow-sm shadow-yellow-200 hover:text-yellow-300"
      >
        <a
          class="<%= path === '/products'? 'text-yellow-300': ''%>"
          href="/products"
          >Products</a
        >
      </li>
      <li
        class="border border-1 border-green-200 px-4 py-2 rounded shadow-sm shadow-yellow-200 hover:text-yellow-300"
      >
        <a class="<%= path === '/cart'? 'text-yellow-300': ''%>" href="/cart"
          >Cart</a
        >
      </li>
      <li
        class="border border-1 border-green-200 px-4 py-2 rounded shadow-sm shadow-yellow-200 hover:text-yellow-300"
      >
        <a
          class="<%= path === '/orders'? 'text-yellow-300': ''%>"
          href="/orders"
          >Orders</a
        >
      </li>
      <li
        class="border border-1 border-green-200 px-4 py-2 rounded shadow-sm shadow-yellow-200 hover:text-yellow-300"
      >
        <a
          class="<%= path === '/admin/add-product'? 'text-yellow-300': ''%>"
          href="/admin/add-product"
          >Add Product</a
        >
      </li>
      <li
        class="border border-1 border-green-200 px-4 py-2 rounded shadow-sm shadow-yellow-200 hover:text-yellow-300"
      >
        <a
          class="<%= path === '/admin/products'? 'text-yellow-300': ''%>"
          href="/admin/products"
          >Admin Product</a
        >
      </li>
    </ul>
  </nav>
</header>
