<%- include("../components/head.ejs") %> <%-
include("../components/navbar.ejs")%>

<main class="flex-grow bg-gray-900 text-slate-400 px-[5rem] py-[3rem]">
  <% if(cart.products.length>0) { %>
  <ul class="cart-ul">
    <li class="li-border-down">
      <p></p>
      <p>Products</p>
      <p>Unit Price($)</p>
      <p>Quantity</p>
    </li>
    <% cart.products.forEach(product =>{%>
    <li>
      <img src="<%=product.imgUrl%>" alt="<%=product.title%>" />
      <p><%=product.title%></p>
      <p><%=product.price%></p>
      <div class="cart-li-btnDiv">
        <form action="/cart" method="POST">
          <input type="hidden" name="productId" value="<%=product.id%>" />
          <input type="hidden" name="price" value="<%product.price%>" />
          <button class="btn" type="submit">+</button>
        </form>
        <p><%=product.cartItem.quantity%></p>
        <form action="/cart-remove" method="POST">
          <input type="hidden" name="id" value="<%=product.id%>" />
          <input type="hidden" name="qty" value="1" />
          <button class="btn delete" type="submit">-</button>
        </form>
        <form action="/cart-remove" method="POST">
          <input type="hidden" name="id" value="<%=product.id%>" />
          <input
            type="hidden"
            name="qty"
            value="<%=product.cartItem.quantity%>"
          />
          <button class="btn delete" type="submit">&#128465;</button>
        </form>
      </div>
    </li>

    <%}) %>
    <li class="li-border-top">
      <p>Totals</p>
      <p></p>
      <p><%= cart.totalPrice %></p>
      <p><%= cart.totalQty %></p>
    </li>
  </ul>
  <form class="flex justify-end mt-[2rem]" action="/create-order" method="POST">
    <button
      class="me-[2rem] broder-1 border-gray-500 bg-gradient-to-tr from-blue-500 to-green-500 py-[0.5rem] px-[2rem] rounded-xl shadow-blue-200 shadow-xl hover:from-yellow-500 hover:to-lime-500 hover:shadow-yellow-200"
      type="submit"
    >
      Checkout
    </button>
  </form>
  <%} else { %>
  <h1 class="flex justify-center items-center text-[3rem] text-red-400">
    No product available in the cart
  </h1>
  <% }%>
</main>
<%- include("../components/footer.ejs")%>
