<%- include("../components/head.ejs") %> <%-
include("../components/navbar.ejs")%>

<main class="flex-grow bg-gray-900 text-slate-400 px-[5rem] py-[3rem]">
  <% if(cart.items.length>0) { %>
  <ul class="grid gap-2">
    <li class="grid grid-cols-4 mb-[1rem]">
      <p></p>
      <p class="font-bold">Products</p>
      <p class="font-bold">Unit Price(€)</p>
      <p class="font-bold">Quantity</p>
    </li>
    <% cart.items.forEach(product =>{%>
    <li class="grid grid-cols-4 items-center">
      <img
        class="h-[3rem] rounded-md"
        src="<%=product.imgUrl%>"
        alt="<%=product.title%>"
      />
      <p><%=product.title%></p>
      <p><%=product.price%></p>
      <div class="grid grid-cols-4 items-center justify-end">
        <form action="/cart" method="POST">
          <input type="hidden" name="productId" value="<%=product._id%>" />
          <input type="hidden" name="price" value="<%product.price%>" />
          <button
            class="px-[1rem] py-[0.5rem] rounded shadow-sm bg-slate-600 hover:bg-gradient-to-br from-yellow-300 to-red-400 text-gray-950"
            type="submit"
          >
            +
          </button>
        </form>
        <p><%=product.quantity%></p>
        <form action="/cart-remove" method="POST">
          <input type="hidden" name="id" value="<%=product._id%>" />
          <input type="hidden" name="qty" value="1" />
          <button
            class="px-[1rem] py-[0.5rem] rounded shadow-sm bg-slate-600 hover:bg-gradient-to-br from-red-300 to-red-500 text-gray-950"
            type="submit"
          >
            -
          </button>
        </form>
        <form action="/cart-remove" method="POST">
          <input type="hidden" name="id" value="<%=product._id%>" />
          <input type="hidden" name="qty" value="<%=product.quantity%>" />
          <button
            class="px-[1rem] py-[0.5rem] rounded shadow-sm bg-slate-600 hover:bg-gradient-to-br from-red-300 to-red-500 text-gray-950"
            type="submit"
          >
            &#128465;
          </button>
        </form>
      </div>
    </li>

    <%}) %>
    <li class="grid grid-cols-4 text-[1.2rem] pt-[2rem]">
      <p>Totals</p>
      <p></p>
      <p><%= cart.totalPrice %></p>
      <p><%= cart.totalQuantity %></p>
    </li>
  </ul>
  <form class="flex justify-end mt-[2rem]" action="/create-order" method="POST">
    <button
      class="bg-slate-700 px-[1rem] py-[0.5rem] rounded shadow-sm text-slate-200 hover:bg-gradient-to-br from-yellow-300 to-red-400 hover:text-gray-900"
      type="submit"
    >
      Checkout
    </button>
  </form>
  <%} else { %>
  <div class="h-full flex justify-center items-center">
    <h1 class="text-[3rem] text-red-400">No product available in the cart</h1>
  </div>
  <% }%>
</main>
<%- include("../components/footer.ejs")%>
