<%- include("../components/head.ejs") %> <%-
include("../components/navbar.ejs")%>

<main class="main">
  <h1 class="page_heading">Cart</h1>
  <%-include("../components/status-message.ejs", {errorMessage,
  successMessage})%> <% if(cart && cart.items.length>0) { %>
  <ul class="grid gap-2">
    <% cart.items.forEach(product =>{%>
    <li class="grid grid-cols-4 items-center">
      <img
        class="h-[3rem] rounded-md"
        src="<%=product.productId.imgUrl%>"
        alt="<%=product.productId.title%>"
      />
      <div>
        <p><%=product.productId.title%></p>
        <p><%=product.productId.price%> €</p>
      </div>
      <div class="col-span-2 grid grid-cols-4 items-center justify-end">
        <form action="/cart" method="POST">
          <input
            type="hidden"
            name="productId"
            value="<%=product.productId._id%>"
          />
          <input type="hidden" name="fromCart" value="yes" />
          <button class="btn" type="submit">+</button>
          <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
        </form>
        <p class="text-center md:text-left"><%=product.quantity%></p>
        <form action="/cart-remove" method="POST">
          <input
            type="hidden"
            name="productId"
            value="<%=product.productId._id%>"
          />
          <input type="hidden" name="quantity" value="1" />
          <button class="btn" type="submit">-</button>
          <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
        </form>
        <form action="/cart-remove" method="POST">
          <input
            type="hidden"
            name="productId"
            value="<%=product.productId._id%>"
          />
          <input type="hidden" name="quantity" value="<%=product.quantity%>" />
          <button class="btn" type="submit">&#128465;</button>
          <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
        </form>
      </div>
    </li>

    <%}) %>
    <li class="grid grid-cols-4 text-[1.2rem] pt-[2rem]">
      <p>Totals</p>
      <p><%= cart.totalQuantity %> items</p>
      <p></p>
      <p><%= cart.totalPrice %> €</p>
    </li>
  </ul>
  <form class="flex justify-end mt-[2rem]" action="/create-order" method="POST">
    <button class="btn" type="submit">Order</button>
    <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
  </form>
  <%} else { %>
  <div class="h-full flex justify-center items-center">
    <h1 class="text-[1.2rem] text-red-400">
      No product available in the cart!
    </h1>
  </div>
  <% }%>
</main>
<%- include("../components/footer.ejs")%>
