<%- include("../components/head.ejs") %> <%-
include("../components/navbar.ejs")%>
<main class="flex-grow bg-[url(/img/bg_home.jpg)] bg-center bg-no-repeat">
  <div class="w-full h-full bg-green-900/80 text-slate-200 pt-[5rem]">
    <h1 class="text-[3rem] text-center pb-[3rem] tracking-wide">
      Wellcom to ExpressShop
    </h1>
    <h2 class="text-[1.5rem] text-center pb-[1.2rem]">
      Sell your old stuff && buy stuff cheap!!!
    </h2>
    <h2 class="text-[1.5rem] text-center pb-[1.2rem]">
      Save Resources === Save the World
    </h2>
    <h2 class="text-[1.5rem] text-center pb-[1.2rem]">&&</h2>
    <h2 class="text-[1.5rem] text-center pb-[1.2rem]">
      Be proud for you contribution against climate change!!!
    </h2>
    <% if(errorMessage){ %>
    <p class="error_message">Error: <%= errorMessage %></p>
    <%}%> <% if(successMessage){ %>
    <p class="success_message"><%= successMessage %></p>
    <%}%>
    <div
      class="flex gap-4 justify-center px-2 md:px-[2rem] my-[2rem] text-center flex-wrap"
    >
      <a class="btn" href="/login">Lgoin</a>
      <a class="btn" href="/signup">Join us</a>
      <a class="btn" href="/products">Start shoping</a>
    </div>
  </div>
</main>
<%- include("../components/footer.ejs")%>
