<%- include("../components/head.ejs") %> <%-
include("../components/navbar.ejs")%>
<main class="flex-grow bg-gray-900 text-slate-400 px-[5rem] py-[3rem]">
  <h1 class="text-[3rem] text-center pb-[3rem] tracking-wide">Your Orders</h1>
  <% if (orders.length > 0) { %>
  <ul class="grid gap-8">
    <% orders.forEach(order =>{ %>
    <li>
      <div class="mb-[1rem]">
        <p class="text-[1.2rem] font-semibold">Order ID: <%= order.id%></p>
        <p>Date: <%= order.createdAt.toISOString() %></p>
      </div>
      <ul class="grid gap-2">
        <li class="grid grid-cols-4">
          <p class="font-bold">Products</p>
          <p class="font-bold">Price($)</p>
          <p class="font-bold">Qty</p>
          <p class="font-bold">Total($)</p>
        </li>
        <% order.products.forEach(product=>{ %>
        <li class="grid grid-cols-4">
          <p><%=product.title%></p>
          <p><%=product.price%></p>
          <p><%=product.orderItem.quantity %></p>
          <p><%=(product.price * product.orderItem.quantity) %></p>
        </li>
        <%})%>
        <li
          class="grid grid-cols-4 font-bold tracking-widest pt-[1rem] border-t border-dotted"
        >
          <p class="col-span-3">Total</p>
          <p>
            <%= order.products.reduce((acc, product)=>acc +
            product.price*product.orderItem.quantity,0) %>
          </p>
        </li>
      </ul>
    </li>
    <%}) %>
  </ul>
  <% } else { %>
  <div class="h-full flex justify-center items-center">
    <h1 class="text-[3rem] text-red-400">You do not have any product yet!</h1>
  </div>
  <%} %>
</main>
<%- include("../components/footer.ejs")%>
