<%- include("../components/head.ejs") %> <%-
include("../components/navbar.ejs")%>
<main class="main">
  <h1 class="page_heading">Orders</h1>
  <%-include("../components/status-message.ejs", {errorMessage,
  successMessage})%> <% if (orders && orders.length > 0) { %>
  <ul class="grid gap-8">
    <% orders.forEach(order =>{ %>
    <li>
      <div class="mb-[1rem]">
        <p class="text-[1.2rem] font-semibold">Order ID: <%= order._id%></p>
        <p>Date: <%= order.date %></p>
      </div>
      <ul class="grid gap-2">
        <li class="grid grid-cols-5">
          <p class="font-bold col-span-2">Products</p>
          <p class="font-bold">Price( €)</p>
          <p class="font-bold">Qty</p>
          <p class="font-bold">Total( €)</p>
        </li>
        <% order.items.forEach(product=>{ %>
        <li class="grid grid-cols-5">
          <p class="col-span-2"><%=product.title%></p>
          <p><%=product.price%></p>
          <p><%=product.quantity %></p>
          <p><%=(product.price * product.quantity) %></p>
        </li>
        <%})%>
        <li
          class="w-full grid grid-cols-5 font-bold tracking-widest pt-[1rem] border-t border-dotted"
        >
          <p class="col-span-3">Total</p>
          <p></p>
          <p><%= order.totalPrice %></p>
        </li>

        <a
          class="underline text-blue-400"
          href="/orders/<%= order._id %>"
          target="_blank"
          >Download invoice</a
        >
      </ul>
    </li>
    <%}) %>
  </ul>
  <% } else { %>
  <div class="h-full flex justify-center items-center">
    <h1 class="text-[1.2rem] text-red-400">You do not have any order yet!</h1>
  </div>
  <%} %>
</main>
<%- include("../components/footer.ejs")%>
