<%- include("../components/head.ejs") %> <%-
include("../components/navbar.ejs")%>

<main class="main">
  <% if(errorMessage){ %>
  <p class="error_message">Error: <%= errorMessage %></p>
  <%}%> <% if(successMessage){ %>
  <p class="success_message"><%= successMessage %></p>
  <%}%> <%if(product) {%>
  <h1 class="page_heading"><%= product.title%></h1>

  <div class="pt-[2rem] grid md:grid-cols-2 gap-4">
    <img
      class="rounded-md"
      src="/<%= product.imgUrl%>"
      alt="<%= product.title%>"
    />
    <div class="flex flex-col gap-4">
      <h2 class="text-[1.5rem] text-slate-200 tracking-tighter text-left">
        $<%= product.price%>
      </h2>
      <p>Seller: <%= product.userId.name%></p>
      <p><%= product.description%></p>
      <%- include("../components/add-to-cart.ejs", {product}) %>
    </div>
  </div>
  <%}%>
</main>
<%- include("../components/footer.ejs")%>
