<%- include("../components/head.ejs") %> <%-
include("../components/navbar.ejs")%>
<main class="mt-[2rem] grid gap-[2rem]" >
  <h1 class="text-center text-[3rem] tracking-widest" >Products</h1>
  <% if (products.length > 0) { %>
  <div class="grid md:grid-cols-4 gap-[3rem] justify-center">
    <% for (let product of products){ %>
    <article class="group shadow-[0_2px_8px] shadow-[#00000042] rounded-md hover:shadow-[#c94c4c42] hover:bg-[#000000c8] ease-in duration-700 ">
      <header class="">
        <h1 class="group-hover:text-white text-xl text-bold tracking-widest text-center py-[2rem]"><%= product.title%></h1>
      </header>
      <div class="card__image">
        <img src="<%= product.imgUrl%>" alt="<%= product.title%>" />
      </div>
      <div class="text-center py-[2rem]">
        <h2 class="text-xl text-bold tracking-widest group-hover:text-white ">$<%=product.price%></h2>
        <p class="group-hover:text-white"><%= product.description%></p>
      </div>
      <div class=" card__actions">
        <button class="btn group-hover:bg-lime-400 group-hover:text-black group-hover:border-black ease-in duration-700 ">
          <a href="/products/<%= product.id %>">Details</a>
        </button>
        <%- include("../components/add-to-cart.ejs", {product}) %>
      </div>
    </article>
    <%} %>
  </div>
  <% } else { %>
  <h3>Product is not available</h3>
  <% } %>
</main>
<%- include("../components/footer.ejs")%>
