<%- include("../components/head.ejs") %> <%-
include("../components/navbar.ejs")%>

<main class="">
  <h1><%= product.title%></h1>
  <hr />
  <div>
    <img src="<%= product.imgUrl%>" alt="<%= product.title%>" />
  </div>
  <h2>$<%= product.price%></h2>
  <p><%= product.description%></p>
  <%- include("../components/add-to-cart.ejs", {product}) %>
</main>
<%- include("../components/footer.ejs")%>
