<%- include("../components/head.ejs") %> <%-
include("../components/navbar.ejs")%>

<main class="flex-grow bg-gray-900 text-slate-400 px-[5rem] py-[3rem]">
  <h1 class="text-[3rem] text-center pb-[1rem] tracking-wide">
    <%= product.title%>
  </h1>

  <div class="pt-[2rem] grid grid-cols-2 gap-4">
    <img
      class="rounded-md"
      src="<%= product.imgUrl%>"
      alt="<%= product.title%>"
    />
    <div class="flex flex-col gap-4">
      <h2 class="text-[1.5rem] text-slate-200 tracking-tighter text-left">
        $<%= product.price%>
      </h2>
      <p><%= product.description%></p>
      <%- include("../components/add-to-cart.ejs", {product}) %>
    </div>
  </div>
</main>
<%- include("../components/footer.ejs")%>
